# Created by .ignore support plugin (hsz.mobi)
dump.rdb
log.txt
conf/dev/conf.toml
server
jobm
main
*.exe
*.dll
*.so
*.dylib
*.out
*.iml
app.log
.glide/
.idea/
.bin/
!.bin/*.sh
.vscode/
.DS_Store
src/.DS_Store
.build/
vendor/
vendor
#!/vendor/vendor.json
outputs/
outputs.tar
server

